.UserBox {
  min-width: 134px;
  max-width: 268px;
  height: 52px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  margin: 10px 15px;
  Text {
    line-height: 52px;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    font-size: 24px; 
    margin: auto 10px;
  }
}

.UserBox-selected {
  border: 1px solid rgb(148, 157, 251);
  color: #6079c1;
  background-color: #ebeeff;
}

.UserBox-unselected {
  border: 1px solid rgb(210, 210, 210);
  background: rgb(222, 222, 230);
  color: rgb(255, 255, 255);
}

.payer{
  background-color:#FFECE0 !important;
  border: 1px solid #ffac8d !important;
  color: #ffac8d !important;
}
