.ledger-check {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 48px;
  View {
    width: 40px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    Text {
      width: 18px;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}

.ledger-run {
  View {
    background-color: #798cff;
    Text {
      color: white;
    }
  }
}

.ledger-done {
  View {
    background-color: white;
    border: 1px solid #5b78f9;
    Text {
      color: #5b78f9;
    }
  }
}

.detail-title-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 15px;
  height: 60px;
  Text {
    font-size: 30px;
    font-weight: 400;
    color: rgba(84, 84, 84, 1);
    margin-left: 45px;
  }
  .detail-title-btn-bar {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
    View {
      margin: auto 14px;
      width: 143px;
      height: 56px;
      border-radius: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      Text {
        margin: unset;
        font-size: 30px;
        font-weight: 400;
        align-items: center;
      }
    }
    .title-btn-blue {
      background-color: #5b78f9;
      Text {
        color: white;
      }
    }
    .title-btn-white {
      background-color: white;
      Text {
        color: #5b78f9;
      }
    }
  }
}

.detail-participants-bar {
  width: 100%;
  height: fit-content;
  margin: 30px auto;
  .detail-participants-area {
    width: 560px;
    margin: 0 auto;
    padding: 15px 60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    .invite-btn {
      margin: 15px 10px;
      width: 120px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: unset;
        margin: unset;
        border: unset;
        outline: none;
        image {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

.detail-billCard-bar {
  .detail-title-bar {
    margin-bottom: -20px;
  }
}

.detail-btn-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  View {
    width: 690px;
    height: 84px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    Text {
      font-size: 36px;
      font-weight: 400;
    }
  }
  .detail-btn-checkout {
    background-color: #5b78f9;
    Text {
      color: white;
    }
  }
  .detail-btn-return {
    background-color: white;
    Text {
      color: #5b78f9;
    }
  }
}
