.UseBox {
  width: 134px;
  height: 52px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  margin: 10px 15px;
  Text {
    line-height: 52px;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 24px;
  }
}

.UseBox-selected {
  border: 1px solid #FFB563;
  color:#FFB563;
  background-color:#FFFBEB;
}

.UseBox-unselected {
  border: 1px solid rgb(210, 210, 210);
  background: rgb(222, 222, 230);
  color: rgb(255, 255, 255);
}