.UseBox {
  position: relative;
  width: 134px;
  height: 52px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  margin: 10px 15px;
  Text {
    line-height: 52px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
  }

  .delete-btn {
    position: absolute;
    top: 7px;
    right: 12px;
    width: 16px;
    height: 16px;
    Image{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.UseBox-selected {
  border: 1px solid #ffb563;
  color: #ffb563;
  background-color: #fffbeb;
}

.UseBox-unselected {
  border: 1px solid rgb(210, 210, 210);
  background: rgb(222, 222, 230);
  color: rgb(255, 255, 255);
}
