$account-line-height: 120px;
.head-bar {
  width: 100%;
  height: $account-line-height;
  position: fixed;
  z-index: 1;
  top: 0;
  .back-div {
    height: $account-line-height;
    background-color: #5352e4;
  }

  .view-slide {
    max-height: 4 * $account-line-height !important;
    overflow-y: scroll;
  }

  .account-bar {
    max-height: $account-line-height;
    width: 690px;
    margin: -$account-line-height/2 auto 0 auto;
    border-radius: 20px;
    overflow-y: hidden;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 0px 50px 100px 5px #eeeff4;
    .account-line {
      height: $account-line-height;
      Text {
        line-height: $account-line-height;
        font-size: 30px;
        font-weight: 400;
        padding-left: 66px;
      }
    }

    .slide-button {
      position: absolute;
      right: 55px;
      top: 95px;
      width: 60px;
      height: 60px;
      align-items: center;
      display: flex;
      justify-content: center;
      image {
        width: 25px;
        height: 16px;
        transition: all 0.2s;
      }
      .img-slide {
        transform: rotate(180deg);
      }
    }
  }
}

.billCard-bar {
  margin-top: 250px;
  margin-bottom: 150px;
}

.check-out {
  position: fixed;
  z-index: 1;
  width: 690px;
  left: 30px;
  bottom: 35px;
  height: 84px;
  border-radius: 40px;
  background-color: #5b78f9;
  text-align: center;
  Text {
    line-height: 84px;
    color: white;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 10px;
  }
}

movable-area{
  position: fixed;
  z-index: 2;
  width: 690px;
  height: 60vh;
  left: 30px;
  bottom: 150px;
  movable-view{
    width: 95px;
    height: 96px;
    border-radius: 50%;
    box-shadow:0px 20px 75px 0px rgba(214,219,247,1);
    Image{
      width: 95px;
      height: 96px;
    }
  }
}