.welcome-bar {
  width: 100%;
  image {
    display: block;
    width: 584px;
    height: 590px;
    margin: 85px 98px 100px 68px;
  }
  Text {
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 400;
    color: rgba(84, 84, 84, 1);
    margin-bottom: 100px;
  }
  button {
    margin: 0 auto;
    width: 690px;
    height: 84px;
    background-color: #5b78f9;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    Text {
      margin: auto;
      font-size: 36px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
    }
  }
}
