Page {
  background-color: white;
}
.crte-text {
  display: block;
  font-size: 30px;
  font-weight: 400;
  color: rgba(84, 84, 84, 1);
  width: fit-content;
  margin: 50px auto 50px 50px;
}
.input-bar {
  width: 655px;
  margin: 0 46px 0 49px;
  height: 50px;
  input {
    font-size: 30px;
    color: #000000;
  }
}

button {
  width: 690px;
  height: 84px;
  margin: 22.5px auto;
  border-radius: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  Text {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
}

.btn-sure {
  background-color: #5b78f9;
  margin-top: 300px;
  Text {
    color: white;
  }
}

.btn-cancel {
  border: 1px solid rgba(91, 120, 249, 1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  Text {
    color: #5b78f9;
  }
}
