.tabbar {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .tab {
    width: 60px;
    height: 90px;
    display: flex;
    flex-direction: column;
    image {
      width: 60px;
      height: 60px;
    }
    Text {
      text-align: center;
      line-height: normal;
      font-size: 24px;
      width: 100%;
      color: #888888;
    }
    .text-selected {
      color: #5b78f9;
    }
  }
  .addOneBall {
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    position: fixed;
    z-index: 1000;
    width: 95px;
    height: 96px;
    left: 327.5px;
    bottom: 40px;
    border-radius: 50%;
    box-shadow: 0px 20px 75px 0px rgba(214, 219, 247, 1);

    image {
      width: 95px;
      height: 96px;
    }
  }
}
